@import "tailwindcss";


@layer utilities {
  .text-secondary {
    color: #B9FF66;
  }

  .bg-dark-bg {
    background-color: #191A23;
  }

  .bg-light-grey {
    background-color: #F3F3F3;
  }

  .bg-lime-green {
    background-color: #B9FF66;
  }

  .shadow-custom {
    box-shadow: 0px 4px 0px 0px #191919;
  }

  .font-grotesk {
    font-family: 'Space Grotesk', sans-serif;
  }
}